html 
    body 
        //- navinclude('./navbar.pug')
        a(href="/formproductos")="Volver al formulario"
        h2="Vista de Productos"
        if productos.length == 0
          h3="No hay datos."
        else 
          table 
            tr 
              th="Producto"
              th="Precio"
              th="Imagen"
            each producto in productos
              tr 
                td=producto.producto
                td=producto.precio 
                td 
                  img(src=producto.thumbnail)