html 
    body 
        nav(<%- include('./navbar.ejs') %>)
        h2="Vista de Productos"
        if productos.length == 0
          h3="No hay datos."
        else 
          table 
            tr 
              th="Titulo"
              th="Precio"
              th="Foto"
            each producto in productos 
              tr 
                td=producto.producto
                td=producto.precio 
                td 
                  img(
                    src=producto.thumbnail
                  )